<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>anEngineer.com-NKV </title>

    <!-- Favicon -->

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css ">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!-- Responsive CSS -->
    <link href="{% static 'css/responsive/responsive.css' %}" rel="stylesheet">

	 <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">

<!-- jQuery library -->
<script src="{% static 'js/jquery/jquery-2.2.4.min.js' %}"></script>

<!-- Latest compiled JavaScript -->
<script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>

<body>
    <!-- Preloader Start -->
    <div id="preloader">
        <div class="yummy-load"></div>
    </div>





    <div class="top_header_area" style="position: fixed ;z-index:20;">
        <div class="container">
            <div class="row">
                <div class="col-5 col-sm-6">
                    <!--  Top Social bar start -->
                    <div class="top_social_bar">
                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                    </div>
                </div>
                <!--  Login Register Area -->
                <div class="col-7 col-sm-6">
                    <div class="signup-search-area d-flex align-items-center justify-content-end">
                        <div class="login_register_area d-flex">
                            {% if user.is_authenticated %}
                            <div class="login">
                                <a href="{% url 'posts:create' %}">write a post</a>
                            </div>
                            <div class="register">
                                <a href="{% url 'accounts:logout' %}">log out</a>
                            </div>
                            {% else %}
                            <div class="login">
                                <a href="{% url 'accounts:login' %}">login</a>
                            </div>
                            <div class="register">
                                <a href="{% url 'accounts:signup' %}">sign-up</a>
                            </div>
                            {% endif %}

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ****** Top Header Area End ****** -->

    <!-- ****** Header Area Start ****** -->
    <header class="header_area">
        <div class="container">
            <div class="row">
                <!-- Logo Area Start -->
                <div class="col-12">
                    <div class="logo_area ">
                        <a href="index.html" class="yummy-logo">anEngineer</a>
                    </div>
                </div>
            </div>

            <div class="row" >
                <div class="col-12">
                    <nav class="navbar navbar-expand-lg " >
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#yummyfood-nav" aria-controls="yummyfood-nav" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars" aria-hidden="true"></i> Menu</button>
                        <!-- Menu Area Start -->
                        <div class="collapse navbar-collapse justify-content-left" id="yummyfood-nav">
                            <ul class="navbar-nav" id="yummy-nav">
                                <li class="nav-item active">
                                    <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'about' %}">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ****** Header Area End ****** -->
 <div class="contact-area section_padding_80">
        <div class="container">


            <div id="our-team" style = "background-color : white;">
		<div class="container">
			<div class="text-center">
				<h3>Our Team</h3>

			<div class="row">
				<div class="col-md-4 wow fadeInUp" data-wow-offset="0" data-wow-delay="0.3s">
					<div class="text-center vin" >
						<img src="{% static 'images/keerthi.jpeg' %} "  alt="" class="img-responsive img-circle">
						<h2>Satya keerthi</h2>
						<h4>Java developer</h4>
					</div>
				</div>
				<div class="col-md-4 wow bounceInDown" data-wow-offset="0" data-wow-delay="0.3s">
					<div class="text-center vin">
						<img src="{% static 'images/v.jpg' %}" alt="" class="img-responsive img-circle">
						<h2>Vinay kornapalli</h2>
						<h4>DJango Developer</h4>
					</div>
				</div>
				<div class="col-md-4 wow fadeInUp" data-wow-offset="0" data-wow-delay="0.3s">
					<div class="text-center vin">
						<img src="{% static 'images/nikhila.jpg' %}" alt="" class="img-responsive img-circle">
						<h2>Nikhila Munipalli</h2>
						<h4>Machine Learning Enthusiast</h4>
					</div>
				</div>
			</div>
		</div>

	</div>
	</div>
	</div>
	</div>

   <footer class="footer-distributed">

			<div class="footer-left">

				<h3>an<span>Engineer</span></h3>


				<p class="footer-company-name">VKN company&copy; 2018</p>
			</div>

			<div class="footer-center">

				<div>
					<i class="fa fa-map-marker"></i>
					<p><span>NIT</span> Raipur, Chattisgarh</p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p>+91-70132253336</p>
				</div>

				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="anEngineer@vkn.com">anEngineer@vkn.com</a></p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>OUR MISSION</span>
					In the hope of brighter vision, integrate engineers all over the country into one enormous educational platform!
				</p>

				<div class="footer-icons">

					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-linkedin"></i></a>
					<a href="#"><i class="fa fa-github"></i></a>

				</div>

			</div>

		</footer>

    <!-- ****** Footer Menu Area End ****** -->

    <!-- Jquery-2.2.4 js -->
    <script src="{% static 'js/jquery/jquery-2.2.4.min.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'js/bootstrap/popper.min.js' %}"></script>
    <!-- Bootstrap-4 js -->
    <script src="{%static 'js/bootstrap/bootstrap.min.js' %}"></script>
    <!-- All Plugins JS -->
    <script src="{% static 'js/others/plugins.js' %}"></script>
    <!-- Active JS -->
    <script src="{% static 'js/active.js' %}"></script>
</body>